.env
.venv
*.egg-info
.vscode
__pycache__
myimglist.txt
.ipynb_checkpoints
output_folder
indice_folder
image_folder
cat
embedding_folder
index_folder
indices_paths.json
.coverage*
test_folder
build
dist
wandb
.pexing
*.tgz
*.pex